<div class="brief-content">
  <mat-sidenav-container>
    <article class="brief-main-content">
      <h2>Suche</h2>

      <div style="background-color: #f8b9b7">
        Diese Volltextsuche erlaubt es, Stichwörter an verschiedenen Stellen der Edition zu finden.
        Die Sucheresultate können verschiedenen Datentypen angehören und es wird jeweils zur gewohnten Ansicht verlinkt.
        Rechts können Datentypen an- und abgewählt werden.
      </div>

      <mat-input-container style="background-color: #f8b9b7">
        <input matInput placeholder="Suchbegriff">
      </mat-input-container>

      <div style="background-color: #f8b9b7">
        <h3>Brief von A an B</h3>
        <p>Text mit Suchbegriff</p>
        <h3>Person</h3>
        <p>Suchbegriff in Personenbeschreibung</p>
      </div>


    </article>
    <mat-sidenav opened mode="side" align="end" style="width:300px">
      <div style="background-color: #f8b9b7">
        <h3>Einschränken nach Datentyp</h3>
        <p>X Briefe</p>
        <p>0 Personen</p>
        <p>X Orte</p>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
