<nav id="brief-navbar">
  <a mat-button
     [routerLink]="['briefe']" routerLinkActive="active-nav-item" i18n="navigation|Letter page with filters@@nav-letters">
    Briefe
  </a>

  <a mat-button
     [routerLink]="['index']" routerLinkActive="active-nav-item" i18n="navigation|Index page@@nav-index">
    Index
  </a>

  <a mat-button
     [routerLink]="['suche']" routerLinkActive="active-nav-item" i18n="navigation|Fulltext search page@@nav-search">
    Suche
  </a>

  <a mat-button
     [routerLink]="['about']" routerLinkActive="active-nav-item" i18n="navigation|About the project@@nav-about">
    About
  </a>

  <app-simple-search></app-simple-search>
</nav>
